Package: com.cw.dyzs
Name: DY助手
Version: 9.9-9
Description: 仅供学习交流，请在 24 小时内自觉删除。
Section: Tweaks
Depends: firmware (>= 5.0), mobilesubstrate
Priority: optional
Maintainer: CW-1024
Author: CW-1024
Architecture: iphoneos-arm